<h1>Signup for URL-Lockbox!</h1>

<% if flash[:notice] %>
    <div class="toast"><%= flash[:notice] %></div>
<% end %>

<div class="col-6">
  <%= form_for :user, class: "form-group", url: '/users' do |f| %>

    Email: <%= f.text_field :email, class: "form-input" %>
    Password: <%= f.password_field :password, class: "form-input" %>
    Password Confirmation: <%= f.password_field :password_confirmation, class: "form-input" %>
    <br/>
    <%= f.submit "Submit", class: "btn" %>

  <% end %>
  <a href="/login" class="btn btn-link user-status">...or Login</a>

</div>