<% if flash[:notice] %>
    <div class="toast"><%= flash[:notice] %></div>
<% end %>

<h3>Add a link here!</h3>

<div class="col-6">
  <%= form_for :link, class: "form-group", url: '/links' do |f| %>

    Url: <%= f.text_field :url, class: "form-input" %>
    Title: <%= f.text_field :title, class: "form-input" %>
    <br/>
    <%= f.submit "Submit", class: "btn" %>

  <% end %>
</div>


<div class="col-12">
  <div class="list_of_links">
    <table class="col-4 table table-striped table-hover links-table">
      <thead>
        <tr>
          <th>Title</th>
          <th>URL</th>
          <th>Read (T) or Unread (F)</th>
        </tr>
      </thead>
      <tbody>
        <% @links.each do |link| %>
        <tr>
          <td><%= link.title %></td>
          <td><%= link_to link.url, link.url %></td>
          <td><div class="form-group">
            <label class="form-switch">
              <input type="checkbox" />
              <i class="form-icon", id="<%= link.title.parameterize %>-switch"></i> <%= read_status(link) %>
            </label>
          </div></td>
        </tr>
        <% end %>
    </tbody>
    </table>
  </div>  
</div>